<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

  <title>{{title}}</title>
</head>

<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">sinXcosY</span>
      </a>
    </header>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">

          <form method=POST enctype=multipart/form-data action="{{url_for('upload.upload')}}">
            <div class="card-body">
              <label for="fileupload">1. Выберите файл для обработки</label>
              <input id="fileupload" name="file" type="file" class="form-control-file" required />
            </div>
            <div class="card-body">
              <label for="check_sin_cos">2. Выберите sin или cos </label>
              <div class="card-body" id="check_sin_cos">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="SINCOS" id="inlineRadio1"
                    value="cos" required>
                  <label class="form-check-label" for="inlineRadio1">COS</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="SINCOS" id="inlineRadio2"
                    value="sin" required>
                  <label class="form-check-label" for="inlineRadio2">SIN</label>
                </div>
              </div>
            </div>
            <div class="card-body">

              <label for="inputGroupSelect01">3. Выберите значение </label>
              <select class="form-control" id="inputGroupSelect01" name="znachSINCOS" required>
                <option selected value="0">0</option>
                <option value="1">π/6</option>
                <option value="2">π/4</option>
                <option value="3">π/3</option>
                <option value="4">π/2</option>
                <option value="5">π</option>
                <option value="6">3π/4</option>
                <option value="7">2π</option>
              </select>
            </div>
            <div class="card-body">
              <input type="submit" class="btn btn-primary" value="Выполнить" />
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</body>

</html>